@mixin biggest-font-size() {
  font-size: 3.2rem;
  @media screen and (min-width: 968px) {
    font-size: 5rem;
  }
}

@mixin h2-font-size() {
  font-size: 2rem;
  @media screen and (min-width: 968px) {
    font-size: 2.8rem;
  }
}

@mixin h3-font-size() {
  font-size: 1.8rem;
  @media screen and (min-width: 968px) {
    font-size: 2rem;
  }
}

@mixin normal-font-size() {
  font-size: 1.5rem;
  @media screen and (min-width: 968px) {
    font-size: 1.6rem;
  }
}

@mixin small-font-size() {
  font-size: 1.3rem;
  @media screen and (min-width: 968px) {
    font-size: 1.4rem;
  }
}
