@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*======================== Color ========================*/
/*======================== Font & Typo ========================*/
/*======================== Font weight ========================*/
/*======================== Margin ========================*/
/*======================== z-index ========================*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: #FEFBFB;
  color: #5B5757;
  line-height: 1.6;
  margin-top: 3rem;
}
@media screen and (min-width: 968px) {
  body {
    font-size: 1.6rem;
  }
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (min-width: 968px) {
  h1, h2, h3 {
    font-size: 2.8rem;
  }
}

a {
  text-decoration: none;
}

.sky-container {
  max-width: 968px;
  width: calc(100% - 5rem);
}

.sky-grid {
  display: grid;
  gap: 2.5rem;
}

.button {
  display: inline-block;
  background-color: #DA2535;
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
}
.button:hover {
  background-color: #CA2130;
  transition: 0.3s;
}

.layout-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FEFBFB;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav__item {
  margin-bottom: 2.5rem;
}
.nav__link, .nav__logo, .nav__toggle {
  color: #161212;
  font-weight: 600;
}
.nav__logo:hover, .nav__link:hover {
  color: #DA2535;
  transition: 0.3s;
}
.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    z-index: 100;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0 0;
    background-color: #FEFBFB;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    transition: 0.5s;
  }
}
.show-menu {
  top: calc(1rem + 3rem);
}

.active-item {
  position: relative;
}
.active-item::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #161212;
}

.home__img {
  width: 28rem;
  justify-self: center;
}
.home__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media screen and (min-width: 968px) {
  .home__title {
    font-size: 5rem;
  }
}
.home__description {
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .home__container {
    padding: 11rem 3rem 0;
  }
}
.layout-main {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
